---
- name: Verify python3-devel is available in enabled repo
  become: yes
  shell:
    cmd: yum info python3-devel
  changed_when: false
  register: _rpm_check
  args:
     warn: False
  ignore_errors: yes
  when: ansible_facts.os_family == 'RedHat' and ansible_facts.distribution_major_version == '7'
  # Disable warning as yum doesn't support info
  tags: st2, skip_ansible_lint

- name: Discover name of optional server rpm
  become: yes
  shell:
    cmd: yum repolist disabled 2> /dev/null | awk -F'/' '/rhel-7-server-rhui-optional-rpms|rhui-REGION-rhel-server-optional|rhel-7-server-optional-rpms/{print $1}'
  changed_when: false
  register: _reponame
  args:
     warn: False
  when: ansible_facts.os_family == 'RedHat' and ansible_facts.distribution_major_version == '7' and _rpm_check.rc != 0
  # Disable warning as yum doesn't support repolist
  tags: st2, skip_ansible_lint

- name: Install python3-devel
  become: yes
  yum:
    name: python3-devel
    state: present
    enablerepo: "{{ _reponame.stdout }}"
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  when: ansible_facts.os_family == 'RedHat' and ansible_facts.distribution_major_version == '7' and _rpm_check.rc != 0
  tags: st2

- name: Install latest st2 package, auto-update
  become: yes
  package:
    name: st2
    state: latest
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  when: st2_version == "latest"
  notify:
    - restart st2
    - reload st2
  tags: st2, skip_ansible_lint

- name: Install present st2 package, no auto-update
  become: yes
  package:
    name: st2
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  when: st2_version == "present"
  notify:
    - restart st2
    - reload st2
  tags: st2

- name: Install pinned st2 package
  become: yes
  package:
    name: st2{{ '-' if ansible_facts.pkg_mgr == 'yum' else '=' }}{{ st2_version }}-{{ st2_revision }}
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  when:
    - st2_version != "latest"
    - st2_version != "present"
  notify:
    - restart st2
    - reload st2
  tags: st2

- name: Perform st2 version related operations
  import_tasks: version.yml
  tags: st2, version

- name: Create and configure StackStorm system user
  import_tasks: user.yml
  tags: st2, user

- name: Configure StackStorm authentication
  import_tasks: auth.yml
  # Use st2_config.auth.enable setting if available, otherwise use st2_auth_enable
  when: (st2_config.auth|default({})).enable|default(st2_auth_enable)
  tags: st2, auth

- name: Configure StackStorm st2.conf settings
  # Ansible nested loop to iterate through a hash of hashes
  include_tasks: config.yml
  vars:
    _conf_section_name: "{{ _conf_section.0 }}"
    _conf_options: "{{ _conf_section.1 }}"
  # dict2items not available until 2.6, so use Jinja's dictsort instead
  loop: "{{ st2_config | dictsort }}"
  loop_control:
    loop_var: _conf_section
  tags: st2, config

- name: Configure the StackStorm datastore
  import_tasks: datastore.yml
  tags: st2, datastore

- name: Configure StackStorm to work via proxy
  import_tasks: proxy.yml
  tags: st2, proxy

- name: Ensure StackStorm services are enabled and running
  become: yes
  service:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop: "{{ st2_services }}"
  tags: st2

# Since flush handlers does not support conditionals, we need to have a dedicated playbook
# https://github.com/ansible/ansible/issues/41313#issuecomment-520891625
- name: Flush handlers to prepare StackStorm if there are packs to install
  include_tasks: flush_handlers.yml
  when: st2_packs|length > 0
  ignore_errors: yes
  tags: st2, st2_packs

- name: Install StackStorm integration Packs
  import_tasks: packs.yml
  when: st2_packs|length > 0
  ignore_errors: yes
  tags: st2, st2_packs
