description "Mistral Workflow Service"

setuid {{ user }}
setgid {{ group }}

start on runlevel [2345]
stop on runlevel [016]

exec /opt/openstack/mistral/.venv/bin/python /opt/openstack/mistral/mistral/cmd/launch.py --config-file /etc/mistral/mistral.conf --log-config-append /etc/mistral/wf_trace_logging.conf
