---

  - name: Create BWC RBAC directories
    become: yes
    file:
      path: "{{ item }}"
      mode: "u+rw,g-wx,o-rwx"
      owner: st2
      group: st2
      state: directory
    with_items:
      - /opt/stackstorm/rbac/assignments
      - /opt/stackstorm/rbac/roles

  - name: Copy RBAC roles to /opt/stackstorm/rbac/roles directory
    become: yes
    template:
      src: files/rbac_assignments/role.yml.j2
      dest: /opt/stackstorm/rbac/roles/{{ item.name }}.yml
      owner: st2
      group: st2
    with_items: "{{ rbac_roles }}"
    when: rbac_roles is defined

  - name: Copy RBAC assignments to /opt/stackstorm/rbac/assignments directory
    become: yes
    template:
      src: files/rbac_assignments/assignments.yml.j2
      dest: /opt/stackstorm/rbac/assignments/{{ item.name }}.yml
      owner: st2
      group: st2
    with_items: "{{ rbac_assignments }}"
    when: rbac_assignments is defined

  - name: Enable RBAC in st2 configuration
    become: yes
    ini_file:
      dest: /etc/st2/st2.conf
      section: auth
      option: enable
      value: True
      backup: yes
    notify:
      - restart st2
      - reload bwc_rbac
      - restart st2api
