description "ST2 Rules Engine Service"

setuid {{ st2_system_user }}
setgid {{ st2_system_user }}

start on runlevel [2345]
stop on runlevel [016]

exec st2rulesengine --config-file /etc/st2/st2.conf
