---
- name: Install rabbitmq on {{ ansible_facts.distribution }}
  ansible.builtin.include_tasks: rabbitmq_{{ ansible_os_family | lower }}.yml
  tags: rabbitmq

- name: Install latest rabbitmq package on {{ ansible_facts.distribution }}
  become: true
  ansible.builtin.package:
    name: rabbitmq-server
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  notify:
    - restart rabbitmq
  tags: rabbitmq
  when: rabbitmq_version == "present"

- name: Install pinned rabbitmq package on {{ ansible_facts.distribution }}
  become: true
  ansible.builtin.package:
    name: "rabbitmq-server{{ '=' if ansible_facts.pkg_mgr == 'apt' else '-' }}{{ rabbitmq_version }}"
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  notify:
    - restart rabbitmq
  tags: rabbitmq
  when: rabbitmq_version != "present"

- name: Ensure rabbitmq is enabled and running
  become: true
  ansible.builtin.service:
    name: rabbitmq-server
    enabled: yes
    state: started
  tags: rabbitmq

- name: Add RabbitMQ plugins
  become: true
  community.rabbitmq.rabbitmq_plugin:
    names: "{{ rabbitmq_plugins | join(',') }}"
    state: enabled
    # new_only: no = Remove all plguins that aren't listed in rabbitmq_plugins
    new_only: no
  when: rabbitmq_plugins | bool
  tags: rabbitmq
