---
- name: apt | Add rabbitmq key
  become: yes
  apt_key:
    keyserver: "hkp://keyserver.ubuntu.com:80"
    id: "0A9AF2115F4687BD29803A206B73A36E6026DFCA"
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  tags: rabbitmq

- name: Ensure pre-requisites are installed
  become: yes
  apt:
    name: "{{ item }}"
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  tags: rabbitmq
  loop:
    - apt-transport-https
    - gnupg

- name: Add launchpad key
  become: yes
  apt_key:
    url: https://keyserver.ubuntu.com/pks/lookup?op=get&fingerprint=on&search=0xf77f1eda57ebb1cc
    id: "57ebb1cc"
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  tags: rabbitmq

- name: apt | Add CloudSmith RabbitMQ key
  become: yes
  apt_key:
    url: "https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/gpg.9F4587F226208342.key"
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  tags: rabbitmq

- name: apt | Add CloudSmith erlang key
  become: yes
  apt_key:
    url: "https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/gpg.E495BB49CC4BBE5B.key"
    state: present
  register: _task
  retries: 5
  delay: 3
  until: _task is succeeded
  tags: rabbitmq

- name: Add erlang repos
  become: yes
  apt_repository:
    repo: "deb https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-erlang/deb/ubuntu {{ ansible_facts.distribution_release|lower }} main"
    state: present
  tags: rabbitmq

- name: Add rabbitmq repos
  become: yes
  apt_repository:
    repo: "deb https://dl.cloudsmith.io/public/rabbitmq/rabbitmq-server/deb/ubuntu {{ ansible_facts.distribution_release|lower }} main"
    state: present
  tags: rabbitmq

- name: Install latest erlang packages on {{ ansible_facts.distribution }}
  become: yes
  package:
    name: "{{item}}"
    state: present
  register: _eltask
  retries: 5
  delay: 3
  until: _eltask is succeeded
  tags: rabbitmq
  loop:
    - erlang-base
    - erlang-asn1
    - erlang-crypto
    - erlang-eldap
    - erlang-ftp
    - erlang-inets
    - erlang-mnesia
    - erlang-os-mon
    - erlang-parsetools
    - erlang-public-key
    - erlang-runtime-tools
    - erlang-snmp
    - erlang-ssl
    - erlang-syntax-tools
    - erlang-tftp
    - erlang-tools
    - erlang-xmerl
  when: erlang_version == "present"

# Order is important when using pinned versions as have to do in order of dependencies
- name: Install pinned erlang packages on {{ ansible_facts.distribution }}
  become: yes
  package:
    name: "{{item}}={{erlang_version}}"
    state: present
  register: _eltask
  retries: 5
  delay: 3
  until: _eltask is succeeded
  tags: rabbitmq
  when: erlang_version != "present"
  loop:
    - erlang-base
    - erlang-asn1
    - erlang-crypto
    - erlang-public-key
    - erlang-mnesia
    - erlang-runtime-tools
    - erlang-ssl
    - erlang-eldap
    - erlang-ftp
    - erlang-tftp
    - erlang-inets
    - erlang-snmp
    - erlang-os-mon
    - erlang-parsetools
    - erlang-syntax-tools
    - erlang-tools
    - erlang-xmerl
