- name: Set variables and hubot adapter settings
  set_fact:
    st2chatops_hubot_adapter: "{{ st2chatops_hubot_adapter }}"
    st2chatops_token: "{{ hubot_token }}"
  changed_when: no
  # no_log: true
  tags:
    - smoke-tests

- name: Comment existing hubot adapters in "/opt/stackstorm/chatops/st2chatops.env"
  become: yes
  replace:
    dest: /opt/stackstorm/chatops/st2chatops.env
    regexp: '^(export HUBOT_ADAPTER=.*)'
    replace: '# \1'
  changed_when: no
  tags:
    - smoke-tests

- name: Update "{{ st2chatops_hubot_adapter|upper }}" adapter
  become: yes
  replace:
    dest: /opt/stackstorm/chatops/st2chatops.env
    regexp: '^# (export HUBOT_ADAPTER={{ st2chatops_hubot_adapter }})$'
    replace: '\1'
  changed_when: no
  tags:
    - smoke-tests

- name: Uncomment "{{ st2chatops_hubot_adapter|upper }}" token
  become: yes
  replace:
    dest: /opt/stackstorm/chatops/st2chatops.env
    regexp: '^# (export HUBOT_SLACK_TOKEN=)'
    replace: '\1'
  changed_when: no
  tags:
    - smoke-tests

- name: Add new "{{ st2chatops_hubot_adapter|upper }}" token
  become: yes
  replace:
    dest: /opt/stackstorm/chatops/st2chatops.env
    regexp: '(xoxb-)CHANGE-ME-PLEASE'
    replace: '\1{{ st2chatops_token }}'
  changed_when: no
  # no_log: true
  tags:
    - smoke-tests

- meta: flush_handlers
  tags:
    - smoke-tests

- name: Read content of st2chatops.env
  become: yes
  shell: "cat /opt/stackstorm/chatops/st2chatops.env | grep -i hubot_slack_token"

- name: Verify st2chatops using bin/hubot
  command: "timeout 25 bin/hubot"
  args:
    chdir: "/opt/stackstorm/chatops/"
  register: test_output
  failed_when: "'{{ st2chatops_hubot_adapter|title }} client now connected' not in test_output.stdout or 'DEBUG Added command: st2 list' not in test_output.stdout"
  changed_when: no
  tags:
    - smoke-tests

- name: TEARDOWN Comment "SLACK" hubot adapters in "st2chatops.env"
  become: yes
  replace:
    dest: /opt/stackstorm/chatops/st2chatops.env
    regexp: '^(export HUBOT_ADAPTER=slack)'
    replace: '# \1'
  changed_when: no
  tags:
    - smoke-tests

- name: TEARDOWN Uncomment "SHELL" adapter
  become: yes
  replace:
    dest: /opt/stackstorm/chatops/st2chatops.env
    regexp: '^# (export HUBOT_ADAPTER=shell)$'
    replace: '\1'
  changed_when: no
  tags:
    - smoke-tests
