# StackStorm actionrunner main task. Starts up multiple workers.
#

description     "StackStorm actionrunner task"
author          "StackStorm Engineering <opsadmin@stackstorm.com>"

start on filesystem and net-device-up IFACE!=lo
stop on starting rc RUNLEVEL=[016]

setuid {{ st2_system_user }}
setgid {{ st2_system_user }}
