description   "StackStorm st2resultstracker service"
author        "StackStorm Engineering <opsadmin@stackstorm.com>"

start on filesystem and net-device-up IFACE!=lo
stop on starting rc RUNLEVEL=[016]

setuid {{ st2_system_user }}
setgid {{ st2_system_user }}

respawn
respawn limit 2 5

umask 007
kill timeout 60

script
  NAME=st2resultstracker
  DEFAULT_ARGS="--config-file /etc/st2/st2.conf"

  # Read configuration variable file if it is present
  [ -r /etc/default/$NAME ] && . /etc/default/$NAME

  /usr/bin/$NAME ${DEFAULT_ARGS}
end script
